name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # -----------------------------
    # Docker Build
    # -----------------------------
    - name: Build Docker image
      run: |
        docker build -t myapp:latest .

    # -----------------------------
    # Trivy Scan (Docker Image)
    # -----------------------------
    - name: Trivy vulnerability scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: myapp:latest
        format: table
        exit-code: 0
        severity: CRITICAL,HIGH

    # -----------------------------
    # Checkov Scan (IaC / K8s / Terraform)
    # -----------------------------
    - name: Run Checkov
      uses: bridgecrewio/checkov-action@master
      with:
        directory: .
        soft_fail: true
